<h1 class="text-2xl font-bold mb-4">Choose A Room</h1>

    <% @rooms.each do |room| %>
      <li class="mb-2">

        <%= link_to room.name, room_path(room), class: "text-blue-600 underline" %>
      </li>
    <% end %>

    <li>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </li>